{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "8"
                }
            }
        ]
    ],
    "env": {
        "debug": {
            "sourceMaps": "inline",
            "retainLines": true
        }
    }
}
